* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: #111111;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 auto;
  background: #f9f9f9;
  /* border-bottom: 1px solid #e9e9e9; */
}

.logo {
  width: 150px;
}

nav {
  margin: auto 0;
  overflow-x: auto;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav li {
  margin: 0;
  padding: 0.4rem 1rem;
  width: max-content;
}

/* main */

main {
  box-shadow: 0 -15px 10px -20px rgba(0, 0, 0, 0.3);
  /*  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);*/

  margin: 0 auto;
  padding: 1rem 2vw;
  width: 100%;
}

h1 {
  line-height: 1.2;
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}

main > p {
  max-width: 45rem;
  margin: 1rem auto;
  line-height: 2;
}

/* table */

table {
  /*  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);*/
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1rem auto;
}

th,
td {
  padding: 0.4rem 0.8rem;
}

thead {
  border-bottom: 1px solid #111;
}

thead tr:last-child th {
  text-align: right;
}

/* thead th {
  color: white;
} */

tbody {
  border-bottom: 1px solid #111;
}

colgroup.rook {
  border: 1px solid #111;
}

colgroup.queen {
  border: 1px solid #111;
}

.rook {
  background: #90caf9;
}

.queen {
  background: #f9ca90;
}

.rook-heading,
.rook-label {
  background: #19537e;
  color: white;
}

.queen-heading,
.queen-label {
  color: white;
  background: #7e5319;
}

/*
tbody:nth-child(odd) {
  background: #daf3ff;
}

tbody:nth-child(even) {
  background: #cbeeff;
}

tbody:nth-child(odd) th {
  background: #373737;
}

tbody:nth-child(even) th {
  background: #272727;
}
*/

td {
  text-align: right;
}

tbody th {
  min-width: 120px;
}

.table-container {
  overflow-x: auto;
  margin: 0 auto;
}

.unknown {
  background: #373737;
  color: #999;
}

td a,
td a:visited {
  color: #19537e;
  font-weight: bold;
}

/* links */

a,
a:visited {
  color: #0099cd;
}

a:hover {
  color: #006b9c;
}
