* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #eaf3f6;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2vw;
}

table {
  background: white;
  /*  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);*/
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  width: max-content;
  padding: 0.4rem;
}

thead {
  border-bottom: 1px solid #111;
}

tbody {
  border-bottom: 1px solid #111;
}

tbody:last-child {
  border-bottom: none;
}
