---
title: Our Work
layout: default
---

{% assign surveys = site.works | where: "type", "survey" | sort: "date" |
reverse %}
{% assign reports = site.works | where: "type", "report" | concat: site.categories.reports | sort:
"date" | reverse %}
{% assign code = site.works | where: "type", "code" | sort:
"date" | reverse %}
{% assign research = site.works | where: "type", "research"
| sort: "date" | reverse %}
{% assign data = site.works | where: "type", "data"
| sort: "date" | reverse %}

<h1>Our Work</h1>

<ul>
  <li><a href="#surveys">Surveys and non-specialist articles</a></li>
  <li><a href="#data">Data</a></li>
  <li>
    <a href="#tools">Software tools and interactive web resources</a>
  </li>
  <li><a href="#reports">White papers and reports</a></li>
  <li><a href="#research">Technical research</a></li>
</ul>

<h2 id="surveys">Surveys and non-specialist articles</h2>
<ul class="card-list">
  {% for work in surveys %} {% include card.html work=work %} {% endfor %}
</ul>

<h2 id="data">Data</h2>
<ul class="card-list">
  {% for work in data %} {% include card.html work=work %} {% endfor %}
</ul>

<h2 id="tools">Tools and interactives</h2>
<ul class="card-list">
  {% for work in code %} {% include card.html work=work %} {% endfor %}
</ul>

<h2 id="reports">White papers and reports</h2>
<ul class="card-list">
  {% for work in reports %} {% include card.html work=work %} {% endfor %}
</ul>

<h2 id="research">Research</h2>
<ul class="card-list">
  {% for work in research %} {% include card.html work=work %} {% endfor %}
</ul>
