<article class="post">
  <h2 class="post__title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
  <div class="post__metadata">
    {% assign hide_date = false %}
    {% if post.categories contains "basics" %}
      {% assign hide_date = true %}
    {% endif %}
    {% if post.categories contains "research" %}
      {% assign hide_date = true %}
    {% endif %}
    {% if post.categories contains "civic-tech" %}
      {% assign hide_date = true %}
    {% endif %}
    {% if post.categories contains "reports" %}
      {% assign hide_date = true %}
    {% endif %}
    <div class="post__authors{% if hide_date %} post__authors--no-date{% endif %}">{{ post.authors }}</div>
    {% unless hide_date %}
    <div class="post__date">{{ post.date | date_to_long_string }}</div>
    {% endunless %}
  </div>
  <div class="post__content">{{ post.excerpt }}</div>
</article>
