<footer class="site-footer">
  <ul class="site-footer__items l-center">
    <li class="site-footer__item">
      <a href="https://github.com/mggg">
        <img
          src="/assets/Octicons-octoface.svg"
          class="site-footer__icon"
          alt="GitHub"
        />
        @mggg</a
      >
    </li>
    <li class="site-footer__item">
      <a href="https://github.com/mggg-states">
        <img
          src="/assets/Octicons-octoface.svg"
          class="site-footer__icon"
          alt="GitHub"
        />
        @mggg-states</a
      >
    </li>
    <li class="site-footer__item">
      <a href="https://twitter.com/gerrymandr">
        <img
          src="/assets/Twitter_Logo_WhiteOnImage.svg"
          class="site-footer__icon"
          alt="Twitter"
        />@gerrymandr</a
      >
    </li>
    <li class="site-footer__item">
      <address>
        <a href="mailto:contact@mggg.org">contact@mggg.org</a>
      </address>
    </li>
    <hr class="site-footer__hr" />
    <li class="site-footer__copyright">
      &#169; {{ site.time | date: "%Y" }} MGGG Redistricting Lab
    </li>
  </ul>
</footer>
