{% if include.highlight_link %}
  {% assign highlight_link = include.highlight_link %}
{% else %}
  {% assign highlight_link = page.highlight_link %}
{% endif %}
{% for link in site.data.navigation %}
<li>
  {% assign link_url = link.href | relative_url %}
  <a
    href="{{ link_url }}"
    {% if link.external %} target="_blank" {% endif %}
    class="nav-links__link nav-links__link--major
    {% if link_url == highlight_link %}nav-links__link--current{% endif %}"
  >
    {{ link.name }}
  </a>
</li>
{% endfor %}
