<style>
  {% include table.css %}
</style>
<div class="table-container">
  <table>
    <colgroup class="row-labels"></colgroup>
    <colgroup  class="queen" span="8"></colgroup>
    <thead>
      <tr>
        <th></th>
        <th colspan="8" class="queen-heading" scope="colgroup">State</th>
      </tr>
      <tr>
        <th></th>

        <th class="queen-label"><a href="https://portal.florida-mapping.org/">FL</a></th>
        <th class="queen-label"><a href="https://www.michigan-mapping.org/">MI</a></th>
        <th class="queen-label"><a href="https://portal.missouri-mapping.org/">MO</a></th>
        <th class="queen-label"><a href="https://portal.newmexico-mapping.org/">NM</a></th>
        <th class="queen-label"><a href="https://portal.ohio-mapping.org/">OH</a></th>
        <th class="queen-label"><a href="https://portal.pennsylvania-mapping.org/">PA</a></th>
        <th class="queen-label"><a href="https://portal.texas-mapping.org/">TX</a></th>
        <th class="queen-label"><a href="https://portal.wisconsin-mapping.org/">WI</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Partner</th>
        <td>Florida Rising</td>
        <td>MDOS (for use by MICRC)</td>
        <td>Fair Maps Missouri Coalition</td>
        <td>Thornburg Foundation (for use by NMCRC)</td>
        <td>Ohio Organizing Collaborative</td>
        <td>Office of Governor Tom Wolf</td>
        <td>Texas Civil Rights Project</td>
        <td>People’s Maps Commission</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th># COI submissions (as of 31 Oct 2021)</th>
        <td>71</td>
        <td>1120</td>
        <td>762</td>
        <td>11</td>
        <td>717</td>
        <td>90</td>
        <td>71</td>
        <td>810</td>
      </tr>
    </tbody>
  </table>
</div>
