<style>
  {% include table.css %}
</style>
<div class="table-container" style="font-size: x-small;">
  <table>
    <colgroup class="row-labels"></colgroup>
    <colgroup  class="portal" span="8"></colgroup>
    <thead>
      <tr>
        <th></th>
        <th colspan="8" class="portal-heading" scope="colgroup">State</th>
      </tr>
      <tr>
        <th></th>

        <th class="portal-label">FL (<a href="https://portal.florida-mapping.org/">link</a>)</th>
        <th class="portal-label">MI (<a href="https://www.michigan-mapping.org/">link</a>)</th>
        <th class="portal-label">MO (<a href="https://portal.missouri-mapping.org/">link</a>)</th>
        <th class="portal-label">NM (<a href="https://portal.newmexico-mapping.org/">link</a>)</th>
        <th class="portal-label">OH (<a href="https://portal.ohio-mapping.org/">link</a>)</th>
        <th class="portal-label">PA (<a href="https://portal.pennsylvania-mapping.org/">link</a>)</th>
        <th class="portal-label">TX (<a href="https://portal.texas-mapping.org/">link</a>)</th>
        <th class="portal-label">WI (<a href="https://portal.wisconsin-mapping.org/">link</a>)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Partner</th>
        <td>Florida Rising</td>
        <td>MDOS (for use by MICRC)</td>
        <td>Fair Maps Missouri Coalition</td>
        <td>Thornburg Foundation (for use by NMCRC)</td>
        <td>Ohio Organizing Collaborative</td>
        <td>Office of Governor Tom Wolf</td>
        <td>Texas Civil Rights Project</td>
        <td>People’s Maps Commission</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th># COI submissions (as of 31 Oct 2021)</th>
        <td>71</td>
        <td>1,120</td>
        <td>762</td>
        <td>11</td>
        <td>717</td>
        <td>90</td>
        <td>71</td>
        <td>810</td>
      </tr>
    </tbody>
  </table>
</div>
