<h1 class="post__heading">{{ page.title }}</h1>
<div class="post__metadata">
  {% assign hide_date = false %}
  {% if page.date %}
    {% if page.categories contains "basics" %}
      {% assign hide_date = true %}
    {% endif %}
    {% if page.categories contains "research" %}
      {% assign hide_date = true %}
    {% endif %}
    {% if page.categories contains "civic-tech" %}
      {% assign hide_date = true %}
    {% endif %}
    {% if page.categories contains "reports" %}
      {% assign hide_date = true %}
    {% endif %}
  {% else %}
    {% assign hide_date = true %}
  {% endif %}
  <div class="post__authors{% if hide_date %} post__authors--no-date{% endif %}">{{ page.authors }}</div>
  {% if page.date %}
    {% unless hide_date %}
    <div class="post__date">
      {{ page.date | date_to_long_string }}
    </div>
    {% endunless %}
  {% endif %}
</div>
{% if page.image and page.title != "Interactives" %}
<figure class="post__image">
  <img
    class="post__image"
    src="{{ page.image | relative_url }}"
    alt="{{ page.image_caption }}"
  />
</figure>
{% endif %}
