{% assign work = include.work %}
<li class="card">
  {% if work.featured and work.image %}
  <a class="card__image-link" href="{{ work.href }}" target="_blank">
    <img
      class="card__image"
      src="{{ work.image | relative_url }}"
      alt="{{ work.image_caption }}"
    />
  </a>
  {% endif %}

  <div class="card__content">
    <h3
      class="card__title{% if work.featured %} card__title--featured{% endif %}"
    >
      <a
        href="{% if work.href %}{{ work.href }}{% elsif work.url %}{{
          work.url
        }}{% endif %}"
        >{% if work.short_title %}{{ work.short_title }}{% else %}{{
          work.title
        }}{% endif %}</a
      >
    </h3>
    {% if work.authors %}
    <div class="post__metadata">
      <div class="post__authors">{{ work.authors }}</div>
      <div class="post__date">{{ work.date | date_to_long_string }}</div>
    </div>
    {% endif %} {% if work.description %}
    {{ work.description | replace: "<p>", '<p class="card__teaser">'}}
    {% elsif work.excerpt %}
    {{ work.excerpt | replace: "<p>", '<p class="card__teaser">'}}
    {% endif %} {% if work.publication %}
    <div class="card__publication">
      {{ work.publication }}{% if work.publication_date %},
      {{ work.publication_date | date: "%B %Y" }}. {% endif %}
    </div>
    {% else %} {% if work.publication_date %}
    <div class="card__publication">
      {{ work.publication_date | date: "%B %Y" }}.
    </div>
    {% endif %} {% endif %}
  </div>
</li>
