<p class="support">
    The Metric Geometry and Gerrymandering Group is a nonpartisan research
    organization. MGGG has major support from the
    <a href="https://tischcollege.tufts.edu/"
        >Jonathan M. Tisch College of Civic Life</a
    >
    at Tufts University and the
    <a href="https://bosefellows.mit.edu/"
        >Amar G. Bose Research Grant Program</a
    >
    at MIT and an active partnership with the
    <a href="https://lawyerscommittee.org/"
        >Lawyers' Committee for Civil Rights Under Law</a
    >.
</p>
