<h2>Core Team</h2>
<dl class="bio-list">
  {% assign local_people = site.people | where: "group", "local" %} {% for
  person in local_people %} {% include bio.html person=person %} {% endfor %}
</dl>

<h2>Summer Fellows</h2>
<dl class="bio-list-summer">
  {% assign summer_fellows = site.people | where: "group", "summer_fellows" %} {%
  for person in summer_fellows %} {% include bio.html person=person %} {% endfor %}
</dl>

<h2>Key Collaborators, Past and Present</h2>
<div class="bio-list-collab">
  {% assign collaborators = site.people | where: "group", "collaborators" %} {%
  for person in collaborators %} {% include bio-short.html person=person %} {% endfor
  %}
</div>
