* {
  box-sizing: border-box;
}

body {
  background: white;
  // background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

$raised: 0 4px 16px rgba(12, 12, 13, 0.1);

$inset-bottom: 0px -10px 15px -18px rgba(0, 0, 0, 0.4) inset;

$inset-top: 0px 10px 15px -18px rgba(0, 0, 0, 0.4) inset;

$cast-above: 0 -10px 10px -10px rgba(0, 0, 0, 0.4);
