/* context styles */
.support {
    /* font-style: italic; */
    color: #777;
    grid-column: 1 / 3;

    margin: 1rem 0 2rem;
}
@media only screen and (max-width: 900px) {
    .two-column {
        grid-template-columns: 1fr;
    }
    .support {
        grid-column: 1 / 2;
    }
}
.copyright {
    color: #aaa;
}
.donate {
    background: #0099cd;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    margin: 2rem auto;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
}
.donate h3 {
    font-family: "Source Sans Pro", "Arial Narrow", Arial, sans-serif;
    font-weight: normal;
}

.donate a {
    color: white;
}
.donate:hover {
    background: #006b9c;
}
.donate h3 {
    font-size: 2rem;
    padding: 1rem;
}
