/* context styles */
.support {
  /* font-style: italic; */
  color: #777;
  grid-column: 1 / 3;

  margin: 1rem 0 2rem;
}

@media only screen and (max-width: 900px) {
  .support {
    grid-column: 1 / 2;
  }
}

.donate {
  background: $mggg-blue;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  margin: 2rem auto;
  box-shadow: $raised;
}

.donate h3 {
  font-family: $font-sans-thin;
  font-weight: normal;
}

.donate a {
  color: white;
}

.donate:hover {
  background: #006b9c;
}

.donate h3 {
  font-size: 2rem;
  padding: 1rem;
}
