/* footer */
footer {
    padding: 1rem 1rem 2rem;
    font-family: $font_sans;
    font-size: 1rem;
    border-top: 1px solid #111;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    color: $mggg_blue;
    background: #010101;
    box-shadow: $cast_above;
}

.footer-items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-items > li {
    margin: 1rem 2rem;
}

footer a {
    color: $mggg_blue;
}

footer a:hover {
    color: $mggg_light_blue;
}

address {
    font-style: normal;
}
