/* footer */
.site-footer {
  padding: 1rem;
  font-family: $font_sans;
  font-size: 1rem;
  color: $mggg-blue;

  margin-top: 3rem;

  background-color: black;
}

.site-footer a,
.site-footer a:visited {
  color: $mggg-blue;
  font-weight: normal;
}

.site-footer a:hover {
  color: $mggg-light-blue;
}

.site-footer__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.site-footer__item {
  line-height: 2;
}

.site-footer__icon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.site-footer__copyright {
  color: #aaa;
}

.site-footer__hr {
  margin: 2rem 0 1rem;

  outline: none;
  border-collapse: collapse;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #004464;
}

address {
  font-style: normal;
}
