// Colors

$mggg-blue: #0099cd;
$mggg-dark-blue: #006b9c;
$mggg-very-dark-blue: #004464;
$mggg-light-blue: #5dcaff;

$light-grey: #f9f9f9;
$grey: #eee;

// Shadows

$raised: 0 4px 16px rgba(12, 12, 13, 0.1);
$inset-bottom: 0px -10px 15px -18px rgba(0, 0, 0, 0.4) inset;
$inset-top: 0px 10px 15px -18px rgba(0, 0, 0, 0.4) inset;
$cast-above: 0 -10px 10px -10px rgba(0, 0, 0, 0.4);

// Fonts

$font-serif: "Lora", Georgia, serif;
$font-header-serif: "Playfair Display", Georgia, serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-sans-thin: "Source Sans Pro", "Arial Narrow", Arial, sans-serif;
