* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #111111;
  font-size: 1.2rem;
  line-height: 1.7;
  overflow-x: hidden;
}

.headline {
  font-size: 3rem;
}

h2 {
  font-family: "Playfair Display", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-weight: 900;
  line-height: 2;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: normal;
  line-height: 1.8;
  margin: 1rem 0;
}

header {
  /* background: #012; */
  /* background: #addfee; */
  /* Alternate: no background */
  /* background: #eaf3f6; */
  padding: 0;
  margin: 0 2rem;
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border-bottom: 1px solid #cad3d6; */
  text-align: center;
}

header > h1 {
  margin-bottom: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 0.5rem;
}

@media only screen and (max-width: 600px) {
  header > h1 {
    display: none;
  }
}

.logo-link {
  height: 10rem;
  max-height: 30vh;
  margin: 2rem;
  max-width: 80vw;
}

.logo {
  height: 100%;
  max-width: 80vw;
  filter: drop-shadow(0px 4px 2px #aab3b6);
}

.feature {
  width: 100%;
  background-color: #010101;
  color: #5dcaff;
  padding: 2rem;
  max-height: 100vh;
  overflow: hidden;
  /* Alternate: */
  /* margin: 0 2rem; */
  /* border-radius: 16px; */
}

.feature a {
  color: #5dcaff;
}

main {
  max-width: 1200px;
  margin: 0 auto 3rem;
}

.two-column {
  display: grid;
  grid-template-columns: minmax(300px, 3fr) minmax(300px, 2fr);
}

@media only screen and (max-width: 900px) {
  .two-column {
    grid-template-columns: 1fr;
  }
}

article {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 2vw;
  /* Alternate: */
  /* padding: 0 4vw; */
}

.article-type {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Franklin Gothic", Arial, Helvetica, sans-serif;
  padding: 0;
  line-height: 1;
  font-size: 1rem;
}

.feature:hover {
  background-color: #012;
}

a {
  text-decoration: none;
  color: #0099cd;
}

a:hover {
  color: #5dcaff;
  text-decoration: underline;
}

.feature img {
  margin: 1rem 0;
  overflow: hidden;
}

header a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1vw;

  /* border-top: 1px solid #cad3d6;
  color: #444;
  background: #96d9f0; */
}

footer {
  border-top: 1px solid #111;
  color: #0099cd;
  background: #010101;
}

footer a {
  color: white;
}

footer a:visited {
  color: #eeeeff;
}

.support {
  font-style: italic;
  color: #777;
}

.copyright {
  color: #aaa;
}

footer p {
  margin: 1rem auto 4rem;
  text-align: left;

  font-size: 1rem;
  line-height: 1.7;
}

.donate {
  background: #0099cd;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  margin: 2rem auto;
}

.donate a {
  color: white;
}

.donate:hover {
  background: #006b9c;
}

.donate h3 {
  font-size: 2rem;
  padding: 1rem;
}

figure {
  margin: 0;
  padding: 0;
}

nav {
  background: #012;
  margin: 0 auto 2rem;
  overflow-x: auto;
  box-shadow: ;
}

.nav-links {
  list-style: none;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
  max-width: 900px;
}

.nav-links li {
  margin: 0 1rem;
}
