dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
.bio-list {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 2rem 3rem;
  list-style: none;
  // margin: 1rem 0;
  padding: 0 1rem;
  // max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bio-list-collab {
  display: grid;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-content: center;
  grid-template-columns: repeat(auto-fit, 125px);
  // grid-template-columns: 100px auto;// 100px auto;
  justify-content: center;
  grid-gap: 1rem 1rem;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.bio__img {
  width: 100px;
  height: 100px;

  object-fit: scale-down;
  border-radius: 50%;
  // margin: 1rem;
}

.bio__img-container {
  margin: 0.3rem;
  width: 20%;
  max-width: 20%;
}
.short {
  display: grid;
  align-items: center;
  // justify-content: center;
  margin: 0.5rem;
}

.bio__short__name {
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin-top: 0.25rem;
  color: black;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .bio-list {
    display: block;
  }
  .bio__img-container {
    float: left;
    shape-outside: circle();
  }

  .bio__img-container {
    clear: both;
    content: "";
  }

  .bio__body {
    margin-bottom: 2rem;
  }
}
