.card-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.card {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid $mggg-very-dark-blue;
  background: white;
  box-shadow: $raised;
}

.card__content {
  padding: 1rem;
}

.card__content ul {
  list-style: disc;
  margin: 1rem 0;
}

.card__title {
  margin: 0;
  line-height: 1.5;
}

.card__image {
  object-fit: cover;
  width: 100%;
  display: block;
  background: black;
  
  &[src$=".svg"] {
    background: white;
  }
}

.card__image-link {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-bottom: 1px solid $mggg-very-dark-blue;
}

.card__authors {
  text-transform: uppercase;
  font-family: $font-sans-thin;
  font-weight: 300;
  color: #666;
  letter-spacing: 0.05rem;
  margin: 0.5rem 0;
}

.card__teaser {
  line-height: 1.5;
  margin: 0.5rem 0;
}

.card__publication {
  font-size: 0.75rem;
  color: #666;
  font-style: italic;
}

.card__title--featured {
  font-size: 1.75rem;
}
