<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A nonpartisan research organization studying applications of geometry and computing to U.S. redistricting.">
  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <title>{% if page.title %}{{page.title}} - {% endif %}Metric Geometry and Gerrymandering Group</title>
  <link rel="stylesheet" type="text/css" media="screen" href="static/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro:300,400"
    rel="stylesheet">
</head>

<body>
  <nav>
    <ul class="nav-links">
      {% assign navpages = site.html_pages | where:"nav","true" | sort: "order" %}
      {% for page in navpages %}
      <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <header>
    <a href="/">
      <img class="logo" src="/static/logo.svg" alt="Metric Geometry and Gerrymandering Group">
    </a>
    <h1>
      <a href="/">Metric Geometry and Gerrymandering Group</a>
    </h1>
  </header>

  {{content}}

  <footer>
    <ul class="footer-items">
      <li class="copyright">
        &#169; 2018 Metric Geometry and Gerrymandering Group
      </li>
      <li>
        <address>
          <a href="mailto:gerrymandr@gmail.com">gerrymandr@gmail.com</a>
        </address>
      </li>
    </ul>
  </footer>
</body>

</html>