<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <img
                            class="nav-logo"
                            src="./static/logo.svg"
                            alt="Metric Geometry and Gerrymandering Group"
                        />
                    </a>
                </li>
                {% include nav-links.html %}
            </ul>
        </nav>

        <main>{{ content }}</main>

        {% include footer.html %}
    </body>
</html>
