<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include top_navigation.html show_categories=false show_about=false %}
    <section class="map">
      <div class="map__inset">
        <a href="/">
          <img
            class="map__logo"
            src="/assets/draft_logo_compact.svg"
            alt="Data and Democracy Lab"
          />
        </a>
        
      </div>
      <div class="map__nav-shadow"></div>
    </section>
    <main class="l-center l-content" id="about-mggg">{{ content }}</main>

    {% include footer.html %}
  </body>
</html>
