<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <nav>
    <ul class="nav-links">
      {% assign navpages = site.html_pages | where:"nav","true" | sort: "order" %}
      {% for page in navpages %}
      <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <section class="map">
    <a href="/">
      <img class="logo" src="/static/logo.svg" alt="Metric Geometry and Gerrymandering Group">
    </a>
  </section>
  {{content}}

  {% include footer.html %}

</body>

</html>