<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include top_navigation.html %}

    <main class="l-center l-content">
      <h1 class="post__heading">{{ page.title }}</h1>
      <div class="post__metadata">
        <div class="post__authors">{{ page.authors }}</div>
        {% if page.date %}
        <div class="post__date">
          {{ page.date | date_to_long_string }}
        </div>
        {% endif %}
      </div>
      <div class="post__content">{{ content }}</div>
    </main>

    {% include footer.html %}
  </body>
</html>
