<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <nav>
    <ul class="nav-links">
      <li>
        <a href="/">
          <img class="nav-logo" src="./static/logo.svg" alt="Metric Geometry and Gerrymandering Group">
        </a>
      </li>
      {% assign navpages = site.html_pages | where:"nav","true" | sort: "order" %}
      {% for page in navpages %}
      <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <main class="two-column">
    {{content}}
  </main>

  {% include footer.html %}
</body>

</html>